apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {data}
    server: {server-url}
  name: devops-cluster
contexts:
- context:
    cluster: devops-cluster
    user: clusterUser_devops-learning-rg_devops-cluster
  name: devops-cluster
current-context: devops-cluster
kind: Config
preferences: {}
users:
- name: clusterUser_devops-learning-rg_devops-cluster
  user:
    client-certificate-data: {client-cert}
    client-key-data: {client-key}
    token: {token}
